# Cache files
.ipynb_checkpoints
__pycache__
.DS_Store

# NB used for testing
Untitled.ipynb
compare_infections_diff_rs.ipynb
relation_w1_and_r.ipynb
plot_vaccination.ipynb

# Local env files
env
*.log

# Output plots
img
